body {
    display: flex;
    background-color: rgb(211, 237, 245);
    width: 100%vw;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}


/* Need to center Sign In Area upon background, give background rounded borders */

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: white;
    background-color: white;
    margin: 50px 50px;
    padding: 40px 15px;
    width: 285px;
    height: 285px;
    justify-content: space-around;
}


/* Need background color gradient */

h1 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Verdana", sans-serif;
    line-height: .08em;
    margin: -8px 0px 0px 0px;
}

h2 {
    font-style: italic;
    color: gray;
    font-size: 80%;
    margin: 0px 0px 20px 0px;
}

p.form {
    display: flex;
    text-align: left;
    border-bottom: solid gray 1px;
    width: 200px;
    justify-content: space-between;
    color: gray;
}

button {
    text-transform: uppercase;
    background-color: rgb(38, 158, 218);
    width: 200px;
    color: white;
    padding-top: .8rem;
    padding-bottom: .8rem;
    font-weight: 550;
    font-size: .8em;
}

a {
    text-decoration: none;
    color: lightgrey;
    font-size: 65%;
    font-family: "Helvetica";
}

.form a {
    align-self: flex-end;
}